
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fix-t">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" ><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/NASA_Logo_Flag.svg/512px-NASA_Logo_Flag.svg.png?20210708104308" alt="imagen logo" srcset="" width="40" height="40"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation" col>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Todos los productos
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/zapatillas">zapatillas</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/contactanos">Contactanos</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" id="search-item">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
            
        </div>
    </div>
</nav>