




<div class="divprimero">
<h1>SPACE SHOES</h1>
</div>

<div class="imagenes">
  <img src="/img/adidas.png" alt="">
  <img src="/img/nike.png" alt="">
  <img src="/img/jordan.png" alt="">
  <img src="/img/newbalance.png" alt="">
  <img src="/img/balenciaga.png" alt="">
</div>


<div class="imagjor">
<img src="/img/sb-x-jordan-1-la-to-chicago-wallpaper-preview (2).jpg" alt="" class="zapasj">
</div>

<div class="card text-center">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title">Quienes somos?</h5>
    <p class="card-text">Space Shoes es una tienda online pensada para los amantes de las zapatillas. Fundada en el año 2022 por Esteban Buljan, esta tienda online te trae los pares mas exclusivos a los mejores precios!</p>
    <a href="/zapatillas" class="btn btn-primary">Ver Zapatillas</a>
  </div>
</div>