<h1 class="titulos">ZAPATILLAS</h1>

<div id="zapatillascontent" class="divzapas">

    <div class="card" style="width: 18rem;">
        <img src="https://essential.vtexassets.com/arquivos/ids/612981-800-auto?v=637971361772200000&width=800&height=auto&aspect=true"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Zapatillas Nike Air Max 97</h5>
            <p class="card-text">$2200</p>
            <a href="remera-nike" class="btn btn-primary"> Ver mas </a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="https://essential.vtexassets.com/arquivos/ids/601634-800-auto?v=637956577767600000&width=800&height=auto&aspect=true"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Zapatillas Nike Huarache</h5>
            <p class="card-text">$5159</p>
            <a href="#" class="btn btn-primary">Ver mas</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="https://essential.vtexassets.com/arquivos/ids/577345-800-auto?v=637921849264530000&width=800&height=auto&aspect=true"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Zapatillas Nike Air Max 97 SE</h5>
            <p class="card-text">$6800</p>
            <a href="#" class="btn btn-primary">Ver mas</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="https://essential.vtexassets.com/arquivos/ids/461203-800-auto?v=637650813161900000&width=800&height=auto&aspect=true"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Zapatillas Adidas originals NMD_R1</h5>
            <p class="card-text">$4600</p>
            <a href="#" class="btn btn-primary">Ver mas</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="https://essential.vtexassets.com/arquivos/ids/467906-800-auto?v=637672423144300000&width=800&height=auto&aspect=true"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Zapatillas Adidas originals ZX 1k BOOST</h5>
            <p class="card-text">$6500</p>
            <a href="#" class="btn btn-primary">Ver mas</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="https://essential.vtexassets.com/arquivos/ids/606921-800-auto?v=637963393766070000&width=800&height=auto&aspect=true" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Zapatillas Adidas NMD_R1</h5>
            <p class="card-text">$5500</p>
            <a href="#" class="btn btn-primary">Ver mas</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="https://essential.vtexassets.com/arquivos/ids/598665-800-auto?v=637952302596000000&width=800&height=auto&aspect=true" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Zapatillas Nike Air Vapormax</h5>
            <p class="card-text">$8500</p>
            <a href="#" class="btn btn-primary">Ver mas</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="https://essential.vtexassets.com/arquivos/ids/576988-800-auto?v=637921838777700000&width=800&height=auto&aspect=true" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Zapatillas Nike Air Mac 90 SE</h5>
            <p class="card-text">$4650</p>
            <a href="#" class="btn btn-primary">Ver mas</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="https://essential.vtexassets.com/arquivos/ids/447449-800-auto?v=637613563876170000&width=800&height=auto&aspect=true" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Zapatillas Adidas Originals Forum Low</h5>
            <p class="card-text">$4000</p>
            <a href="#" class="btn btn-primary">Ver mas</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="https://essential.vtexassets.com/arquivos/ids/432205-800-auto?v=637571120506070000&width=800&height=auto&aspect=true" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Zapatillas Nike Air Force 1 07</h5>
            <p class="card-text">$6300</p>
            <a href="#" class="btn btn-primary">Ver mas</a>
        </div>
    </div>

</div>